@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #f59e0b; /* Sunset yellow-ish */
}

body {
  background: var(--background);
  color: var(--foreground);
}
